<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>菱格社区</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="css/bootstrap.min.css"/>
    <link rel="stylesheet" href="css/bootstrap-theme.min.css"/>
    <script src="https://s3.pstatp.com/cdn/expire-1-M/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" href="css/community.css"/>
    <link rel="shortcut icon" href="/img/LOGO.png" type="image/x-icon">
    <script src="js/bootstrap.min.js" type="application/javascript"></script>
</head>
<script type="application/javascript">
    window.onload = function(){
       var closable =  window.localStorage.getItem("closable");
       if(closable=="true"){
           window.close();
           window.localStorage.removeItem("closable");
       }
    }
</script>
<body class="body">
<div th:insert="~{nav::nav}"></div>
<div class="container-fluid main">
    <div class="row">
        <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
            <h3><span class="glyphicon glyphicon-list" aria-hidden="true"></span> 发现</h3>
            <hr>
            <div class="media" th:each="discussion:${pages.discussions}">
                <div class="media-left">
                    <a>
                        <img width="35" class="media-object img-circle"
                             th:src="${discussion.user.avatar}">
                    </a>
                </div>
                <div class="media-body">
                    <h4 class="media-heading" >
                        <a th:href="@{'/discussion/'+${discussion.id}}" th:text="${discussion.title}"> </a>
                    </h4>
<!--                    <span th:text="${discussion.description}"></span><br>-->
                    <span class="text">
                        <span th:text="${discussion.commentCount}?:0"></span>个回复 ·
                        <span th:text="${discussion.viewCount}?:0"></span> 次浏览 ·
                        最后修改于 <span th:text="${#dates.format(discussion.gmtModified,'yyyy-MM-dd HH:mm')}"></span>
                    </span>
                </div>
            </div>
            <nav aria-label="Page navigation">
                <ul class="pagination">
                    <li th:if="${pages.hasFirstPage}">
                        <a href="#" aria-label="First" th:href="@{/(page=1)}">
                            <span aria-hidden="true">首页</span>
                        </a>
                    </li>
                    <li th:if="${pages.hasPrevious}">
                        <a href="#" aria-label="Previous" th:href="@{/(page=${pages.localpage}-1)}">
                            <span aria-hidden="true"><</span>
                        </a>
                    </li>
                    <li th:each="localpage:${pages.pages}" th:class="${pages.localpage == localpage}?'active' : ''"><a
                            th:href="@{/(page=${localpage})}" th:text="${localpage}">

                    </a>
                    </li>
                    <li th:if="${pages.hasNext}">
                        <a href="#" aria-label="Next" th:href="@{/(page=${pages.localpage}+1)}">
                            <span aria-hidden="true">></span>
                        </a>
                    </li>
                    <li th:if="${pages.hasEndPage}">
                        <a href="#" aria-label="End" th:href="@{/(page=${pages.totalpage})}">
                            <span aria-hidden="true">末页</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
            <h3>
                热门话题
            </h3>
            • 讨论标题: 请用精简的语言描述您发布的讨论，不超过25字<br>
            • 内容补充: 详细补充您想要内容，并确保内容描述清晰直观, 并提供一些相关的资料<br>
            • 选择标签: 选择一个或者多个合适的标签，用逗号隔开，每个标签不超过10个字<br>
        </div>
    </div>
</div>
</body>
</html>